<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<configuration status="error" monitorinterval="30">
	<properties>
		<property name="pattern">%d{iso8601} %-5level %c %F:%L - %m%n</property>
	</properties>

	<appenders>
		<console name="console" target="SYSTEM_OUT">
			<patternlayout pattern="${pattern}"/>
		</console>
		<file name="file" fileName="log/app.log">
			<patternlayout pattern="${pattern}"/>
		</file>
	</appenders>

	<loggers>
		<root level="info">
			<appenderref ref="console"/>
			<appenderref ref="file"/>
		</root>
	</loggers>
</configuration>
